# Environmental variables
.env
*.obsolote

# node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build artifacts
dist/
client/dist/

# Logs
logs/
*.log

# Version control
.git/
.gitignore
.github/

# Dev tools and configs
.vscode/
.prettierrc.json
jest.config.js
eslint.config.js
docker-compose.yml
docker-compose.prod.yml

# Database
db_*/

# Testing
tests/

# Documentation
README.md

# Obsolete files
*.obsolete

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.obsolete
