# .env sample file

# Email Configuration
# Get your EmailJS service ID from https://dashboard.emailjs.com/admin/account
VITE_EMAILJS_SERVICE_ID=<your_service_id_here>
VITE_EMAILJS_TEMPLATE_ID=<your_template_id_here>
VITE_EMAILJS_PUBLIC_KEY=<your_public_key_here>

# DB selection - one of {supabase (default), postgres}
VITE_DB_SELECT=supabase

# Supabase 
VITE_SUPABASE_URL=<supabase URL>
VITE_SUPABASE_ANON_KEY=<your key>

# Postgress
VITE_POSTGRES_USER=<username>
VITE_POSTGRES_PASSWORD=<password>
VITE_POSTGRES_DB=<your postgres DB name>
VITE_POSTGRES_HOST=<host>
VITE_POSTGRES_PORT=<exposed port on host>
